body{
    margin: 0;
    width: 100%;
}
.logo {
    text-align: center;
    max-width: 168px;
  }
  header{
    text-align: center;
    padding-bottom: 20px;
  }
  .ImgBackground{
    width: 100%;
    height: 400px;
    object-fit: cover;
    z-index: 0;
    position: absolute;
}
p{
    font-family:Roboto,sans-serif;
}
h1{
    font-family: Shrikhand,sans-serif;
}
h2{
    padding-left: 10px;
    font-family: Shrikhand,sans-serif;
}
.TitreMenu{
margin-top: 317px;
background-color: #f6f6f6;
z-index: 1;
border-radius: 30px 30px 0px 0px ;
padding: 20px 20px 20px 20px;
position: relative;
}
main{
    background-color: #f6f6f6;
}
.prix{
    font-weight: 700;
    display: flex;
    align-items: flex-end;
    padding-left: 8px;
}
.divEntrées{
    justify-content: space-between;
    padding: 10px;
}
.ElementsEntrées{
    background-color: #fff;
    padding: 16px;
    display: flex;
    border-radius: 12px;
    margin: 16px 0px;
    box-shadow: 4px 4px 16px rgb(0 0 0 / 10%);
}
.DescriptionEntrées{
    width: 300px;
}
.divPlats{
    justify-content: space-between;
    padding: 10px;
}
.ElementsPlats{
    background-color: #fff;
    padding: 16px;
    display: flex;
    border-radius: 12px;
    margin: 16px 0px;
    box-shadow: 4px 4px 16px rgb(0 0 0 / 10%);
}
.DescriptionPlats{
    width: 300px;
}
.divDesserts{
    justify-content: space-between;
    padding: 10px;
}
.ElementsDesserts {
    background-color: #fff;
    padding: 16px;
    display: flex;
    border-radius: 12px;
    margin: 16px 0px;
    box-shadow: 4px 4px 16px rgb(0 0 0 / 10%);
}
.DescriptionDesserts{
    width: 300px;
}
.Commander{
    padding: 10px 40px 10px 40px;
    border-radius: 100px;
    color: #FFF;
    border: 0;
    margin: 20px 0px 50px 130px;
    background: linear-gradient(#FF79DA,#9356DC);
}
.footer {
    background-color: #353535;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 0px 0px 10px;
    max-width: 100%;
    min-width: 320px;
  }
  .fa-utensils{
    position: relative;
    padding: 15px 10px 0px 5px;
  }
  .fa-hands-helping{
    padding: 15px 10px 0px 5px;
  }
  .FooterRestau {
    display: flex;
  }
  .FooterPartenaire {
    display: flex;
  }
  @media screen and (min-width: 1024px){
    .TitreMenu{
        text-align: center;
    }  
    .CompletMenu{
          display: flex;
          justify-content: space-between;
      }
      .ElementsEntrées{
          width: 33%;
      }
      .ElementsPlats{
          width: 33%;
      }
      .ElementsDesserts{
          width: 33%;
      }
      .Commander{
          margin: 0% 40%;
      }
  }
